/* loading */

.loading_bar {
    background-color: orange;
    height: 6px;
    border-radius: 10px;
    position: fixed;
    top: 0;
    left: 0;
    animation: loading 1.2s ease-in-out 0s;
}

@keyframes loading {
    0% {
        width: 0;
        left: 0;
    }

    50% {
        width: calc(100% - 19px);
        left: 0;
    }

    100% {
        width: 0;
        left: calc(100% - 19px);
    }
}